body{
  font-family:system-ui;
  background-color:rgb(80, 80, 80);
  color:darkgray;
  margin:0;
}
h1{
  background-color: rgb(80, 80, 80);
  padding:10px;
}
ul{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 12px;
    background-color: rgb(80, 80, 80); 
}
ul h1{ 
    margin: 0 0 20px; 
}
ul li{ 
    margin: 0; 
}
ul a{ 
    text-decoration: none; 
    padding: 8px 16px; 
    display: inline-block; 
    color: inherit; 
    background: #333333; 
    border-radius: 6px; 
    cursor: pointer;
    transition: 0.5s;
}
ul a:hover{
    background: #111111;
    transition:0.5s;
}
ul a:active{
    background: #bdbdbd;
    transform: 0.5s;
}